<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>
        
    </head>
    

<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Contact">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Projects">Projects</a>
      </li>
      
    </ul>
  </div>
</nav>
<div id="project">


<h1>Projects</h1>
<table>
  <th>Project 1</th>
  <th>Project 2</th>
  <th>Project 3</th>

  <tr>
    <td><img src="http://static.tvtropes.org/pmwiki/pub/images/8e3d70de64f8d08d34fdeff64919db85_rockets_costume_ideas.jpg"></td>
  <td><img src="https://i.pinimg.com/originals/fa/16/74/fa1674a8dc38df0e5ca0df8498704d8a.jpg"></td>
  <td><img src="https://vignette.wikia.nocookie.net/rocketpower/images/1/10/Twister_with_his_arms_crossed.png/revision/latest?cb=20160417053939"></td>
  </tr>
  <tr>
    <td><p>Regina "Reggie" Rocket is Otto's tomboyish and sassy 12-year old sister. Reggie is a diminutive of the name Regina, which comes from the Latin and means "queen" or "of queenly attribute." Reggie is an aspiring publisher who, while no less competitive and skillful as an athlete, is of calmer disposition and greater maturity. Reggie is most noted for her "magazine" (dubbed The Zine). In Reggie/Regina, it reveals she has a crush on Trent.</p></td>
  <td><p>Otto Rocket is the lead character on Rocket Power. Voiced in English by Joseph Ashton, Otto is a vain 11-year old boy living in Ocean Shores with his big sister Reggie and their widowed father Raymundo. A skilled, prodigious, lazy, rude, obnoxious, spoiled, bratty, trouble making, selfish, unkind, and highly competitive athlete, he has won numerous competitions in surfing, skateboarding, and snowboarding; he is also very handy with a bicycle and with rollerblades, and is captain of the youth-league roller-hockey team he shares with Reggie and his best friends Twister and Sam.</p></td>
  <td><p>Maurice "Twister" Rodriguez is one of the lead characters on Rocket Power. Twister hates being called Maurice and only Violet Stimpeton and his parents can call him by his real name. He has the good fortune to be the best friend of Otto Rocket, and has the disadvantage of having Lars for an older brother. He was the neighborhood squid until Sam came along. His street address is 79 Ozone Street.</p></td>
  </tr>
</table>
</div>
</body>
</html>