@{
    ViewData["Index"] = "Home Page";
}

<body>
    <form action='/quotes' method='POST'>
        Your Name:
        <input type='text' name='name'>  
        <br> 
        Your Quote:
        <textarea name="quote"></textarea>
        <input type='submit' value='submit'>
    </form>
</body>