<html>

    <head>

        <title>results page</title>
    </head>
    <body>
        <h1>Submitted Info</h1>
        <p>Name: @ViewBag.Name</p>
        <p>Dojo Location: @ViewBag.location </p>
        <p>Favorite Language: @ViewBag.language </p>
        <p>Comment: @ViewBag.comment</p>
    </body>




</html>