/*Write all of your CSS here*/
* {
    color: rgb(238, 102, 125);
}
button.green {
    background-color: rgb(168, 215, 94);
    border: none;
}
a {
    color: rgb(255, 132, 0);
}
h1.h1 {
    font-weight: bold;
}
hr {
    border: 2px solid rgb(168, 215, 94);
}
h4 {
    color: rgb(255, 132, 0);
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
}
span.thicc {
    font-weight: bold;
}