@{
    ViewData["Title"] = "Create Wedding";
}
@model WeddingPlanner.Models.CreateWedding

<h1>Plan Your Princess Themed WEDDING:</h1>
<hr>
<form asp-action="Planner" asp-controller="Home" method="post">
    <span asp-validation-for="WedderOne"></span>
    <br>
    <label>Wedder One:</label>
    <input asp-for="WedderOne" class="form-control">
    <br>
    <span asp-validation-for="WedderTwo"></span>
    <br>
    <label>Wedder Two:</label>
    <input asp-for="WedderTwo" class="form-control">
    <br>
    <span asp-validation-for="WeddingDate"></span>
    <br>
    <label>Wedding Date:</label>
    <input asp-for="WeddingDate" type="date" class="form-control">
    <br>
    <span asp-validation-for="Address"></span>
    <br>
    <label>Wedding Address:</label>
    <input asp-for="Address" class="form-control">
    <br>
    <button class="btn btn-info green" type="submit">SUBMIT</button>
</form>
<hr>
<form action="/dash">
    <button class="btn btn-info logout green">DASHBOARD</button>
</form>
<br>
<form action="/logout" method="post">
    <button class="btn btn-info logout green">LOG OUT</button>
</form>
