@model userDashBoard.Models.RegUser

<h1>REGISTER:</h1>
<form asp-action="RegisterUser" asp-controller="Home" method="post">

    <span asp-validation-for="FirstName"></span>
    <br>
    <label>First Name:</label>
    <input asp-for="FirstName" class="form-control">
    <br>

    <span asp-validation-for="LastName"></span>
    <br>
    <label>Last Name:</label>
    <input asp-for="LastName" class="form-control">
    <br>

    <span asp-validation-for="Email"></span>
    <br>
    <label>Email Address:</label>
    <input asp-for="Email" class="form-control">
    <br>

    <span asp-validation-for="Password"></span>
    <br>
    <label>Password:</label>
    <input asp-for="Password" class="form-control">
    <br>

    <span asp-validation-for="ConfirmPassword"></span>
    <br>
    <label>Confirm Password:</label>
    <input asp-for="ConfirmPassword" class="form-control">
    <br>

    <button class="btn btn-info green" type="submit">REGISTER</button>

</form>
<br>
<form action="/login">
    <button class="btn btn-info green">ALREADY REGISTERED? PLEASE LOG IN</button>
</form>
<br>